################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenQbit.DigitalLibSystem.git/.vs/OpenQbit.DigitalLib/v14/.suo
